@charset "UTF-8";

/*
-------------------------------
 Typical Device BreakPoints    |
-------------------------------|
|Pequenas Telas: até 600px     |
|Celular: De 600px até 768px   |
|Tablet: De 768px até 992px    |
|Desktop: De 992px até 1200px  |
|Grandes Telas: Acima de 1200px|
================================

*/


*{
    margin: 0px;
    padding: 0px;
}

BODY{
    background-color:white ;
    font-family:Arial, Helvetica, sans-serif ;
}

h1{
    text-align: center;
    text-decoration: underline;
}

h2{
    text-decoration: underline;
    background-image: linear-gradient(to right, orange, transparent); /* Marcação de Títulos Interesante*/
    text-indent: 10px; /*Recuo da primeira linha dp paragrafo */
}

p.subt{
    text-align: center;
    font-weight: bolder;
    padding-bottom: 20px;
}

p{
    margin: 15px 0px;
    text-align: justify;
    font-size: 1.1em; /* Tamanho das letras*/
    text-indent: 30px; /*Recuo da primeira linha dp paragrafo */
    line-height: 2em; /*Espaço entre uma linha e outra*/ 

}

nav{
    background-color: cadetblue;
    padding: 25px;
    box-shadow: 0px 0px 15px black;
    
}

nav > a{
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: orange;
    padding: 15px;
}

main{
    background-color: cadetblue;
    padding: 20px 20px 0px 20px;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 20px;

    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 10px 15px  rgba(0, 0, 0, 0.623);
}
main a{
    background-color: orange;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    padding: 2px 6px;
    font-weight: bolder;
}

main a:hover{
    background-color: black;
    color: orange;
}

img{
    width: 350px;
    margin: auto;
    display: block;
}

img.grande{
    max-width: 300px;
    margin: auto;
    display: block;
}

footer{
    background-color: orange;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    text-decoration: underline;
    background-color: black;
    color: orange;
    padding: 2px;
}